body, html{
  margin:0;
  padding:0;
  min-height: 100vh;
  background-color: black;
}

#app{  
padding:1rem;
height:100%;
  /* height:calc(100vh - 2rem); */
  display: flex;
justify-content: center;
align-items: center;}

canvas{
  background-color:#fff;

}